{% extends 'base.html' %}

{% block content %}
    <h1>{{ film.name }}</h1>
    <p><img src="{{ url_for('static', filename='img/posters/' ~ film.poster) }}" alt="image" width="200"></p>
    {% if current_user.username == 'admin' %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.poster_loader }}
            {% for error in form.poster_loader.errors %}
                [{{ error }}]
            {% endfor %}
            {{ form.add_submit }}
        </form><br>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form_del.hidden_tag() }}
            {{ form_del.delete_submit }}
        </form>
    {% endif %}
    <p>Type: {{ film.type }}</p>
    <p>Duration: {{ film.duration }} min</p>
    <p>Year: {{ film.year }}</p>
    <p>Country: {{ film.country }}</p>
    <p>Director: {{ film.director }}
        {% if current_user.username == 'admin' %}
            <a href="{{ url_for('film_director', id=film.id) }}">Add director</a>
        {% endif %}
    </p>
    <p>Status: ...</p>
    <p>Genres: {% for i in film.genres %}
                    {{ i }}
                {% endfor %}
    {% if current_user.username == 'admin' %}
        <a href="{{ url_for('film_genres', id=film.id) }}">Add genres</a>
    {% endif %}
    </p>
{% endblock %}